#main, #body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

#main {
    background-image: url(./img/pexels-photo-1939485.jpeg);
}

#body {
    color: aliceblue;
    background-color: black;
}

.image-center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-text, .text-center {
    text-align: center;
}

#body .text-center {
    color: white;
    background-color: black;
}


