#main, #body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

#main {
    background-image: url(./img/pexels-photo-1939485.jpeg);
}

#main .link-text,
#body .link-text,
.text-center {
    text-align: center;
}

#body {
    color: aliceblue;
    background-color: black;
}

.image-center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main h1{
    background: black;
    color: wheat;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: inline-block;
    transform: translateX(230%);
}

#main a {
    color: white;
    border-color: rgb(102, 33, 33);
    transition: color .5s;
    transition: background-color .5s;
}

#main a:hover,
#main a:focus {
    color: black;
    border-color: crimson;
    background-color: azure;
}

a {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 4px;
    border: 2px solid white;
    transition: color .5s;
    transition: background-color .7s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: black;
    border-color: rgb(18, 199, 223);
    background-color: azure;
}



#body .text-center {
    color: white;
    background-color: black;
}


